<!DOCTYPE html>
<html>
  <head>
    <title>Emarsys Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript">
      var ScarabQueue = ScarabQueue || [];
      (function(id) {
        if (document.getElementById(id)) return;
        var js = document.createElement('script'); js.id = id;
        js.src = '//cdn.scarabresearch.com/js/13E6D3CA794D68A4/scarab-v2.js';
        var fs = document.getElementsByTagName('script')[0];
        fs.parentNode.insertBefore(js, fs);
      })('scarab-js-api');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
