<!DOCTYPE html>
<html>
  <head>
    <title>Emarsys Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Emarsys Web Extend -->
    <script type="text/javascript">
      var ScarabQueue = ScarabQueue || [];
      (function(id) {
        if (document.getElementById(id)) return;
        var js = document.createElement('script'); js.id = id;
        js.src = '//cdn.scarabresearch.com/js/13E6D3CA794D68A4/scarab-v2.js';
        var fs = document.getElementsByTagName('script')[0];
        fs.parentNode.insertBefore(js, fs);
      })('scarab-js-api');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190887660-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-190887660-1', {
        'custom_map': {'dimension1': 'itm_source_h', 'dimension2': 'itm_medium_h', 'dimension3': 'itm_campaign_h', 'dimension4': 'itm_content_h', 'dimension5': 'itm_term_h'}
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
